<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}
        <h1>About Rango</h1>
    {% endblock %}
    {% block body_block %}
        <body>
            <h1>Rango says...</h1>
            <div>
                here is the about page! <br />
                <strong>{{ boldmessage }}</strong></div><br />
            </div>

            <div>
                <img src="{{ MEDIA_URL }}/images/teapot.png" alt="Picture of teapot "/>
            </div>

            

    {% endblock %}
    </div>
</body>

<div>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango "/>
</div>

</html>