<!DOCTYPE html>

<html>
    {% load staticfiles %}

    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
            {% if category %}
                <h1>{{ category.name }}</h1>
                {% if pages %}
                <ul>
                    {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">>{{ page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <strong>No pages currently in category</strong>
                {% endif %}
            {% else %}
                The specified category does no texist.
            {% endif %}
        </div>
    </body>

    <div>
        <a href="/rango/">index</a><br />z
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango "/>
    </div>

</html>